{% extends "base.html" %}

{% block content %}
<div class="text-center">
  <h1 class="mt-4">Bem-vindo, {{ user.username }}!</h1>
  <p class="lead">Esta é a página inicial do sistema.</p>
</div>

<hr>

<div class="mt-4">
  <ul class="list-group">
    <li class="list-group-item">
      <a href="{% url 'perfil' %}">  Meu Perfil</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'testing' %}">  Ver Posts</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'password_change' %}">  Alterar Senha</a>
    </li>
  </ul>
</div>
{% endblock %}